# Python venv
.venv/
venv/

# Common virtualenv folder name
env/

# IDE / editor
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Logs and env
*.log
.env

# macOS
.DS_Store

# Databases
*.db
*.sqlite3
*.sqlite3-journal

# Flask instance folder (local config)
instance/
